@import "variables";
@import "mixins";
@import "base";
@import "wrapper";
@import "header";



/* Fonts */
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Regular.woff);
    font-weight: 400;
    font-style: normal;
}